/* @border-radius-base: "20px"; */
.App {
  text-align: center;
}

.cardStyle {
  padding: 15px;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0.5px 8px 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;

}
.cardStyleStep {
  padding: 15px;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0.5px 8px 0px;
  background-color: rgb(255, 255, 255);
  width: 100%
}

.ant-input-number-handler-wrap {
  visibility: hidden !important;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
